@charset "utf-8";
/* CSS Document */

*{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
li{list-style: none;}
i, em, adress {font-style: normal;}




body{width: 100%; height: 100%; text-align: center; }

#container {width: 100%;}
#container header {width: 1920px; height:900px; background-color: cornflowerblue; background:url("../image/메인.jpg")center center
no-repeat; background-size: cover;}
#container header aside{width: 1920px; height:65px; background-color:beige; }
#container header aside ul{}
#container header aside ul li{}
#container header aside ul li a{}
#container header aside ul li img{}



#container header nav{width: 1920px; height: 70px; background-color: aqua; transition:opacity 0.5s ease-in-out; }


#container main {}
#container main section{display: inline-block;text-align: center;}
#container main .section_1{width: 1200px; height:850px; background-color:bisque;}
#container main .section_2{width: 1200px; height:850px; background-color:burlywood;}
#container main .section_3{width: 1200px; height:200px; background-color:brown;}
#container main .section_4{width: 1200px; height:850px; background-color:darkseagreen;}
#container main .section_5{width: 1200px; height:850px; background-color:darkkhaki;}
#container main .section_5{width: 1200px; height:850px; background-color:darkkhaki;}
#container main .section_6{width: 1200px; height:850px; background-color:darkcyan;}


#container footer {width: 1920px; height: 324px; background-color: aquamarine;}